table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  background-color:#B42033;
  text-align: left;
  padding: 8px;
  color: #fff
}

tr:nth-child(even) {
  background-color: #c8c8c8;
}

tr:nth-child(odd) {
  background-color:lightslategrey;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  background: rgb(180,32,51);
  background: radial-gradient(circle, rgba(180,32,51,1) 0%, rgba(255,255,255,1) 50%, rgba(60,58,110,1) 100%);
}

.whiteFont {
  color: #fff
}
.tableDiv {
  padding-top: 250px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("../../backend/storage/images/Middle Monitor.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.afterThought {
  font-size: small;
  font-weight: 100;
  text-decoration-line: underline;
}

form {
  
  color: white
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 125%;
}

.right { 
  width: 100%
}

/* Clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
} */

