<!DOCTYPE html>
<html>
  <head>
    <title>Joint Venture Partner Manager</title>
    <link rel="stylesheet" type="text/css" href="../../../styles/main.css" />
    <script type="text/javascript" src="/Users/jameshyatt/Desktop/Development/code/JavaScriptProject/styles/index.js"></script>
    <body>
      <div class="tableDiv">
      <h1>Joint Venture Partner Manager</h1>
        <table class="center">
          <tr>
            <th>Partner <p class="afterThought"> click partner to expand </p></th>
            <th>Title</th>
            <th>Level</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>'partner_name'</td>
            <td>'partner_title'</td>
            <td>'partner_level'</td>
            <td><input type="checkbox" name="Male" value="Male"> Delete<br>
              <input type="checkbox" name="Female" value="Female"> Edit<br>
          </tr>
        </table>
      </div>

    </body>
  </head>
</html>