<!DOCTYPE html>
<html>
  <head>
    <title>Joint Venture Partner Manager</title>
    <link rel="stylesheet" type="text/css" href="../../../styles/main.css" />
    <body>
      <div class="tableDiv">
      <h1>Joint Venture Partner Manager</h1>
        <table class="center">
          <tr>
            <th>Partner</th>
            <th>Title</th>
            <th>Level</th>
          </tr>
          <tr>
            <td>'partner_name'</td>
            <td>'partner_title'</td>
            <td>'partner_level'</td>
          </tr>
        </table>
      </div>

    </body>
  </head>
</html>